on init

    mkdir /tmp 0777 root root

    mkdir /cache 0770 system cache

    mkdir /data 0771 system system

    mkdir /system 0755 root root

    mkdir /storage 0755 root root

    mkdir /sdcard 0777 root root

on boot

    mount ext4 /dev/block/by-name/system /system ro

    mount ext4 /dev/block/by-name/cache /cache

    mount ext4 /dev/block/by-name/UDISK /data
